<style>
	.temperature-list-flex {
		display: flex;
		justify-content: center;
	}
	table.temperature-list tr {
		text-align: center;
	}
	h3.temperature-list-header {
		text-align: center;
	}
</style>
<h3 class="temperature-list-header">Recent Readings</h3>
<div class="temperature-list-flex">
	<table class="temperature-list">
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Temperature (F)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="reading in $ctrl.temperatures">
				<td>{{reading.timestamp}}</td>
				<td>{{reading.temperature}}</td>
			</tr>
		</tbody>
	</table>
</div>